@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject Tools.AppBasePath BasePath

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @{
        var basePath = BasePath.Value;
        var a = Assets;
        var b = (a["lib/bootstrap/dist/css/bootstrap.min.css"]);
        Console.WriteLine(b);
    }
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ENjdO4Dr2bkBIFxQpeoA6VZgWl5/YESvpZ13GpFf5r5p6MT9zYtst4yBo/hH+8Fk" crossorigin="anonymous">
  
    <link rel="stylesheet" href="@($"{basePath}/{Assets["app.css"]}")" />
    <link rel="stylesheet" href="@($"{basePath}/{Assets["Poe.styles.css"]}")" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <base href="@basePath/" />
</head>

<body>
    <Routes />
    <script src="@($"{basePath}/_framework/blazor.web.js")"></script>
</body>

</html>
