@using Tools
@inherits LayoutComponentBase
@inject ITokenProvider StaticTokenProvider
@inject IHttpContextAccessor HttpContextAccessor

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    protected override void OnInitialized()
    {
        var token = HttpContextAccessor.HttpContext?.Request.Cookies["access_token"];
        if (!string.IsNullOrEmpty(token))
        {
            (StaticTokenProvider as IStaticTokenProvider)!.SetToken(token);
        }
    }
}