@page "/Logout"
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation
@inject Tools.AppBasePath BasePath

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HttpContextAccessor.HttpContext!.SignOutAsync("Cookies");
        Navigation.NavigateTo($"{BasePath.Value}/login", forceLoad: true);
    }
}