@page "/Logout"
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HttpContextAccessor.HttpContext!.SignOutAsync("Cookies");
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}