@page "/backer"
@using System.Net
@using Hannibal.Client
@using Hannibal.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IHannibalServiceClient HannibalServiceClient
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

@implements IDisposable

@rendermode InteractiveServer

<h3>Backer</h3>

@code {
    private string Username = "";
    private string Email = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            Username = user.Identity.Name;
            // You can also access claims like:
            Email = user.FindFirst(c => c.Type == "email")?.Value;
        }
    }

    public void Dispose()
    {
        // Any necessary cleanup here
    }
}